.btn.btn-outline {
    background-color: transparent;
    transition: all .2s;

    &.btn-default {
        color: $btn-default-color;

        &:hover, &:active {
            background-color: $btn-default-color;
            color: white;
        }
    }

    &.btn-primary {
        color: $btn-primary-bg;

        &:hover, &:active {
            background-color: $btn-primary-bg;
            color: white;
        }
    }

    &.btn-success {
        color: $btn-success-bg;

        &:hover, &:active {
            background-color: $btn-success-bg;
            color: white;
        }
    }

    &.btn-info {
        color: $btn-info-bg;

        &:hover, &:active {
            background-color: $btn-info-bg;
            color: white;
        }
    }

    &.btn-warning {
        color: $btn-warning-bg;

        &:hover, &:active {
            background-color: $btn-warning-bg;
            color: white;
        }
    }

    &.btn-danger {
        color: $btn-danger-bg;

        &:hover {
            background-color: $btn-danger-bg;
            color: white;
        }
    }
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
