@import "../../vendor/bootstrap/variables";
@import '_mixins.scss';
/*custom classes*/
//angular cloak settings
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
//fullscreen
.fullscreen {
    padding: $full-screen-padding;
}

.bold {
    font-weight: bold;
}
//margins-paddings
@each $unit in $unit-values {
    @include directional_content(margin,$unit);
    @include directional_content(padding,$unit);
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

//rt-buttons
.rt-listbutton,
.rt-crudbutton {
    margin-bottom: 6px;
}
//bg colors
.bg-warning {
    background-color: #C1B260;
}

.bg-success {
    background-color: #6BA054;
}
//page splash
.page-splash {
    z-index: 99999 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: .7;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
//fileupload
//TODO:kontrol edileli
.fileUpload {
    position: relative;
    overflow: hidden;

    input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity = 0);
    }
}
//debug panel
.debug-panel {
    position: fixed;
    right: 5px;
    top: 0;
    width: 365px;
    z-index: 99999;
    overflow: scroll;
    height: 100%;
}
//control focus
.form-control {
    //@include form-control-focus(#b5c6d0);
    &:focus {
        background: $active-control-bg;
        box-shadow: none;
        border-color: #ccc;
    }
}

%rounded-corner {
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: lighten($dropdown-bg,10%);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: darken($dropdown-bg,15%);
        border-radius: 10px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: darken($dropdown-bg,20%);
    }

    &::-webkit-scrollbar-thumb:horizontal:hover,
    &::-webkit-scrollbar-thumb:vertical:hover {
        background: darken($dropdown-bg,25%);
    }

    &::-webkit-scrollbar-thumb:horizontal:active,
    &::-webkit-scrollbar-thumb:vertical:active {
        background: darken($dropdown-bg,30%);
    }
}

.avatar-link {
    padding-top: 8px !important;
    padding-bottom: 5px !important;
}

.avatar-small {
    @include size($avatar-size,$avatar-size)
}

.avatar-fullname {
}

.avatar-firstletter {
    border-radius: 50%;
    background: $avatar-first-letter-bg;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.8em;
    display: inline-block;
}
