//controls placeholder
@include placeholder-content {
    font-weight: normal;
    font-family: $font-family-base;
}

input {
    &[type="radio"], &[type="checkbox"] {
        cursor: pointer;
    }
}

input.ng-invalid,
textarea.ng-invalid {
    border: $validation-control-border;
}
