//controls placeholder
@include placeholder-content {
    font-weight: normal;
    font-family: $font-family-base;
}

input {
    &[type="radio"], &[type="checkbox"], &[type="radio"] ~ label, &[type="checkbox"] ~ label {
        cursor: pointer;
    }

    &::-ms-clear {
        display: none;
    }
}

.form-control {
    @include box-shadow(none); // Redeclare so transitions work
}


input.ng-invalid,
textarea.ng-invalid {
    border: $validation-control-border;
}
