<section id="sub-header">
    <div ng-class="shellvm.routing.activeMenu.isFullScreen ? 'fullscreen' : 'container'">
        <div class="row">
            <div class="col-md-6">
                <ui-view name="badges"></ui-view>
                <span class="title">
                    <i ng-class="['fa', 'fa-' + shellvm.routing.activeMenu.icon]"></i> {{shellvm.routing.activeMenu.name}}
                </span>
            </div>
            <div class="col-md-6 hidden-xs">
                <div ng-if="currentCompany.companyName && shellvm.config.showCompanyName" class="text-right">
                    <span class="current-company" uib-tooltip="{{::'rota.aktifsirket' | i18n}}" tooltip-placement="left">
                        <i class="fa fa-database"></i>&nbsp;{{::currentCompany.companyName | htmltoplaintext}}
                    </span>
                </div>
                <ui-view name="breadcrumb"></ui-view>
            </div>
        </div>
    </div>
</section>
<article ng-class="shellvm.routing.activeMenu.isFullScreen ? 'container-fluid' : 'container'">
    <!--Content-->
    <div id="content-body">
        <!--Notifications-->
        <rt-notification notification-layout="content"></rt-notification>
        <!--Content Page-->
        <!--Wrapper-->
        <div ui-view class="rota-animate-fadeinright"></div>
    </div>
</article>
