<section id="sub-header">
    <div ng-class="shellvm.routing.activeMenu.isFullScreen ? 'fullscreen' : 'container'">
        <div class="content-header">
            <!--Badges-->
            <ui-view name="badges"></ui-view>
            <!--Menu caption-->
            <ui-view name="title"></ui-view>
            <!--Current company name-->
            <ui-view name="currentcompany"></ui-view>
            <!--Action buttons-->
            <ui-view name="actions"></ui-view>
            <!--Breadcrumbs-->
            <ui-view name="breadcrumb"></ui-view>
        </div>
    </div>
</section>
<article ng-class="shellvm.routing.activeMenu.isFullScreen ? 'container-fluid' : 'container'">
    <!--Content-->
    <div id="content-body">
        <!--Notifications-->
        <rt-notification notification-layout="content"></rt-notification>
        <!--Content Page-->
        <!--Wrapper-->
        <div ui-view class="rota-animate-fadeinright"></div>
    </div>
</article>
