<!--ShellPage-->
<div id="wrap" ng-class="{'home-page':shellvm.isHomePage,'video-bg':shellvm.vidOptions}"
     ng-style="shellvm.isHomePage && shellvm.bgImageUrl">
    <!--Top notifications-->
    <rt-notification notification-layout="top"></rt-notification>
    <!--Header-->
    <header ui-view="header"></header>
    <!--Main-->
    <section ui-view id="main-content"></section>
    <!--Video-->
    <!--poster="{{shellvm.vidOptions.poster}}"-->
    <video autoplay loop muted id="bgvid" ng-if="shellvm.isHomePage && shellvm.vidOptions">
        <source ng-if="shellvm.vidOptions.urlMp4" src="{{shellvm.vidOptions.urlMp4}}" type="video/mp4" />
        <source ng-if="shellvm.vidOptions.urlWebm" src="{{shellvm.vidOptions.urlWebm}}" type="video/webm" />
        <source ng-if="shellvm.vidOptions.urlOgg" src="{{shellvm.vidOptions.urlOgg}}" type="video/ogg" />
    </video>
</div>
<!--Ajax Spinner-->
<div ng-show="shellvm.isBusy" class="page-splash">
    <div rt-spinner="shellvm.spinnerOptions"></div>
</div>
<!--QuickMenu-->
<nav ng-if="shellvm.config.enableQuickMenu && shellvm.routing.quickMenus.length" mfb-menu position="br" effect="slidein" active-icon="fa fa-close"
     resting-icon="fa fa-reorder" toggling-method="click">
    <a mfb-button mfb-button-close label="{{quickMenu.text}}" icon="fa fa-{{quickMenu.icon}}"
       ng-click="shellvm.goQuickmenu(quickMenu)" ng-repeat="quickMenu in shellvm.routing.quickMenus"></a>
</nav>
<!--idle timeout-->
<rt-idle-timeout></rt-idle-timeout>